.login_form_container{
  position: relative;
  width: 400px;
  height: 470px;
  max-width: 400px;
  max-height: 470px;
  background: #040717;
  border-radius: 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 70px;
}

.login_form{
  position: absolute;
  content: '';
  background-color: #0c1022;
  border-radius: 50px 5px;
  inset: 5px;
  padding: 50px 40px;
  z-index: 10;
  color: #00ccff;

}

.header{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.form{
  margin-top: 40px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: start;
}

.input_text{
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #00ccff;
  font-size: 20px;
  padding-left: 10px;
  color: #00ccff;

}
